/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/rubik-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-500 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/rubik-v21-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v21-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/rubik-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

body{
  font-family: 'Rubik';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

  img{
    max-width: 100%;
    height: auto;
}

.wrapper{
  max-width: 1140px;
  margin: 0 auto;
}

/* Header style start */

.header{
  background-color: #ffffff;
}

.header__wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;

}

.header__list{
  display: flex;
  flex-wrap: wrap;
}
.header__item{
    margin-right: 40px;
    margin-top: 56px;
}

.header__item:last-child{
    margin-right: 383px;
}
.header__link{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #4F5665;
  text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active{
    opacity: .75;
}

/* Header style end */

/* Intro style start */

.intro{
  min-height: 100vh;
  padding-top: 200px;
}
.intro__title{

  width: 555px;
  height: 140px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0B132A;
  margin-bottom: 20px;
}

.intro__subtitle{
  width: 555px;
  height: 60px;
  left: 150px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 50px;
}

.rectangle {
padding-top: 17.5px;
  text-align: center;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  height: 60px;
  width: 250px;
  background-color: #F53838;
}

.intro__button{
  text-align: center;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
  height: 60px;
  width: 250px;
  background-color: #F53838;
}

.intro__image{
  position: absolute;
  width: 611.24px;
  height: 382.44px;
  left: 750px;
  top: 240.11px;
}

/* Intro styles end*/

/* Benefits styles start*/

.benefits__wrap{
  max-width: 1140px;
  background-color: #fff;
  margin: 0 auto;
  padding-left: 50px;
}

.benefits__cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 270px;
  padding: 0 100px;
}

.benefits__card{
  grid-column: span 1;
}

.benefits__card-pic{
  display: inline-block;
  background: url(../img/svg/rectangle.svg) no-repeat  center;
  max-width: 96px;
  margin-bottom: 67px;
}

.benefits__card-title{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

  .benefits__card-desc{
    font-size: 16px;
    line-height: 24px;

}


/* Benefits styles end*/

.feature{
  min-height: 100vh;
  padding-top: 200px;
}
.feature__title{
  width: 555px;
  height: 140px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0B132A;
  margin-bottom: 20px;
  margin-left: 650px;
  margin-right: 200px;
}

.feature__subtitle{
  width: 555px;
  height: 60px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 20px;
  margin-left: 650px;
  margin-right: 200px;
  left: 900px;
}

.feature__block-text{
  display: inline-block;
  padding-left: 25px;
  background: url(../img/svg/tick.svg) no-repeat left center;
  width: 555px;
  height: 30px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 15px;
  margin-left: 650px;
  margin-right: 200px;
  left: 900px;
}


.feature__image{
  position: absolute;
  width: 508.24px;
  height: 415.76px;
  top: 1120.11px;
}


.plan{
  min-height: 100vh;
  padding-top: 200px;
}
.plan__title{
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 50px;
text-align: center;
color: #0B132A;
margin-bottom: 20px;
}

.plan__subtitle{
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
text-align: center;
color: #4F5665;
margin-bottom: 60px;
}

/* plans styles start*/

.plans__wrap{
  max-width: 1140px;
  background-color: #fff;
  margin: 0 auto;
}

.plans__cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  padding: 0 ;
}

.plans__card{
  grid-column: span 1;
  width: 330px;
  height: 760px;
  border: 2px solid #DDDDDD;
border-radius: 10px;
}

.plans__card-pic{
  width: 144.9px;
  height: 165.37px;
  margin-bottom: 37px;
  margin-left: 192.5;
  margin-top: 97.5px;
  position: relative;
  left: 92.5px;
}

.plans__card-title{
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
  text-align: center;
}

  .plans__card-desc{

  display: inline-block;
  padding-left: 25px;
  background: url(../img/svg/tick2.svg) no-repeat left center;
  width: 190px;
  height: 30px;

  color: #4F5665;

margin-left: 70px;

font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
color: #4F5665;
margin-bottom: 10px;

}

.plans__card-price{
margin-top: 30px;
width: 190px;
height: 30px;
margin-left: 70px;
font-family: 'Rubik';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
color: #0B132A;
margin-bottom: 10px;
text-align: center;
}

.plans__card-inactive{

display: inline-block;
background: url(../img/svg/select.svg) no-repeat  center;
width: 178px;
height: 45px;
color: #4F5665;
margin-left: 70px;
font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #4F5665;
margin-bottom: 63px;
text-align: center;
padding-top: 13px;Ñ‹
}

.plans__card-active{
display: inline-block;
background: url(../img/svg/select.svg) no-repeat  center;
width: 178px;
height: 45px;
background: #F53838;
margin-left: 70px;
font-family: 'Rubik';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
margin-bottom: 63px;
text-align: center;
padding-top: 13px;
}
/* plans styles end*/



/* Intro style start */

.map{
  min-height: 100vh;
  padding-top: 150px;
}
.map__title{
  margin-left: 377px;
  width: 384px;
  height: 100px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
  text-align: center;
  margin-bottom: 20px;
}

.map__subtitle{
  width: 555px;
  height: 60px;
  margin-left: 292px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 50px;
  text-align: center;
}


.logo{
  min-height: 100vh;
  padding-top: 150px;
}

.logo__wrap{
  max-width: 1140px;
  background-color: #fff;
  margin: 0 auto;
}

.logo__cards{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 47.5px;
  padding: 0 100px;
}

.logo__card{
  grid-column: span 1;
  width: 190px;
  height: 60px;
}

.logo__card-pic{
  width: 190px;
  height: 60px;
  position: relative;
  left: 92.5px;
}






/* Footer styles start*/

.footer{
  background: #F8F8F8;
;
  padding: 119px 0;
}

.footer__item{
  display: flex;
  flex-wrap: wrap;
}

.footer__logo{
  width: 50%;
}

.footer__nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.footer__menu-title{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0B132A;
}

.footer__menu-item{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
  text-decoration: none;
}

/* Footer styles end*/